<div class="card">

  <!-- HEADER -->
  <div class="header">
    <h2>Progress Cards</h2>

    <div class="header-actions">
      <input class="search-input" type="text" placeholder="Search progress cards..." [(ngModel)]="searchText"
        (input)="applyFilter()" />

      <button class="btn primary" (click)="openAdd()">+ Add Progress Card</button>
    </div>
  </div>

  <!-- TABLE -->
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Student</th>
          <th>Exam</th>
          <th>Class</th>
          <th>%</th>
          <th>Grade</th>
          <th>Teacher Signature</th>
          <th>Principal Signature</th>

          <th>Status</th>
          <th width="140">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of paginatedProgressCards">
          <td>{{ p.id }}</td>
          <td>{{ p.student_id }}</td>
          <td>{{ p.exam_id }}</td>
          <td>{{ p.class_id }}</td>
          <td>{{ p.percentage }}%</td>
          <td>{{ p.grade }}</td>
          <td>
            <img *ngIf="p.teacher_signature"
              [src]="'https://s2swebsolutions.in/S2SWebSchool/public/' + p.teacher_signature" width="60" height="50"
              style="border-radius: 5px;" title="{{p.attachment}}" />
          </td>
          <td>
            <img *ngIf="p.principal_signature"
              [src]="'https://s2swebsolutions.in/S2SWebSchool/public/' + p.principal_signature" width="60" height="50"
              style="border-radius: 5px;" title="{{p.principal_signature}}" />
          </td>
          <td>
            <span class="status" [class.active]="p.result_status === 'Pass'">
              {{ p.result_status }}
            </span>
          </td>
          <td class="actions-col">
            <button class="btn outline" (click)="openEdit(p)">Edit</button>
            <button class="btn danger" (click)="delete(p.id)">Delete</button>
          </td>
        </tr>

        <tr *ngIf="!paginatedProgressCards.length">
          <td colspan="8" class="no-data">No progress cards found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION -->
  <div class="pagination">
    <button class="btn outline" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
      Prev
    </button>

    <span>Page {{ currentPage }} of {{ pages.length }}</span>

    <button class="btn outline" [disabled]="currentPage === pages.length || pages.length === 0"
      (click)="changePage(currentPage + 1)">
      Next
    </button>
  </div>

</div>

<!-- MODAL -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">

    <h3>{{ editId ? 'Edit Progress Card' : 'Add Progress Card' }}</h3>

    <form [formGroup]="progressCardForm" class="school-form">
      <div>
        <label>School</label>
        <select formControlName="school_id">
          <option value="">Select School</option>
          <option *ngFor="let s of schools" [value]="s.id">{{ s.school_name }}</option>
        </select>
      </div>

      <div>
        <label>Branch</label>
        <select formControlName="branch_id">
          <option value="">Select Branch</option>
          <option *ngFor="let b of branches" [value]="b.id">{{ b.branch_name }}</option>
        </select>
      </div>
      <div>
        <label>Student</label>
        <select formControlName="student_id">
          <option value="">Select Student</option>
          <option *ngFor="let s of students" [value]="s.id">{{ s.first_name }} {{ s.last_name }}</option>
        </select>
      </div>
      <div>
        <label>Class</label>
        <select formControlName="class_id">
          <option value="">Select Class</option>
          <option *ngFor="let c of classes" [value]="c.id">{{ c.class_name }}</option>
        </select>
      </div>
      <div>
        <label>Exam</label>
        <select formControlName="exam_id">
          <option value="">Select exam</option>
          <option *ngFor="let c of exams" [value]="c.id">{{ c.exam_name }}</option>
        </select>
      </div>

      <div>
        <label>Total Marks</label>
        <input formControlName="total_marks" />
      </div>

      <div>
        <label>Obtained Marks</label>
        <input formControlName="obtained_marks" />
      </div>

      <div>
        <label>Percentage</label>
        <input formControlName="percentage" readonly />
      </div>

      <div>
        <label>Rank</label>
        <input formControlName="rank" />
      </div>

      <div>
        <label>Grade</label>
        <input formControlName="grade" />
      </div>

      <div>
        <label>Result Status</label>
        <select formControlName="result_status">
          <option value="">Select</option>
          <option value="Pass">Pass</option>
          <option value="Fail">Fail</option>
        </select>
      </div>

      <div class="full">
        <label>Overall Remarks</label>
        <textarea formControlName="overall_remarks"></textarea>
      </div>
      <!-- Teacher Signature -->
      <div>
        <label>Teacher Signature</label>
        <input type="file" (change)="onFileChange($event, 'teacher')" />
        <img *ngIf="teacherPreview" [src]="teacherPreview" class="signature-preview" />
      </div>

      <!-- Principal Signature -->
      <div>
        <label>Principal Signature</label>
        <input type="file" (change)="onFileChange($event, 'principal')" />
        <img *ngIf="principalPreview" [src]="principalPreview" class="signature-preview" />
      </div>


    </form>

    <div class="actions">
      <button class="btn outline" (click)="showModal=false">Cancel</button>
      <button class="btn primary" (click)="save()">Save</button>
    </div>

  </div>
</div>